<div class="container footer-inner">
	<div class="footer-widget-area">
		<div class="col-sm-6 col-md-4 footer-widget" role="complementary">
			<div id="text-8" class="widget widget_text">
				<h3 class="widgettitle">JAIPUR</h3>
				<div class="textwidget">Main office and factory<br>
					73/26 Paramhans Marg, 
					Mansarovar, Jaipur,  
					Rajasthan 302020
					+91 9637 857569
				</div>
			</div>		
		</div><!-- .widget-area .first -->
	</div>		
</div>
<div class="site-info container">
	<div class="copyright col-md-6">
		© ASKON 2017 Все права защищены	
	</div>
</div><!-- .site-info -->			
