<header class="page-header">
	
	<div class="topline">
		<div class="container">
			<div class="description col6">
				<h3>Jaipur India </h3>
				<span>73/26 Paramhans Marg, Mansarovar</span>
			</div>
			
			<div class="col6">
				<div class="info">
					<ul class="lang-switcher menu">
						<li><a href="#">De</a></li>
						<li class="active"><a href="#">En</a></li>
					</ul>
					<p>+91 9637 857569</p>
				</div>				
			</div>
		</div>
	</div>
	<div class="logo">
		<a href="#"><img src="img/logo.png" alt="Gems Factory"></a>
	</div>
	<div class="container">
		<nav class="nav ">
			<ul class="menu menu-justifired menu-top">
				<li class="active"><a href="#">Prices</a></li>
				<li><a href="#">About us</a></li>
				<li><a href="#">Order and Shipping</a></li>
				<li><a href="#">Reviews</a></li>
				<li><a href="#">Contact us</a></li>
				<li><a href="#">Check order status</a></li>
			</ul>
		</nav>		
	</div>
	<p class="deco"><span><i class="fa fa-circle-o" aria-hidden="true"></i></span></p>
</header>
